.login-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.login-left {
  width: 50%;
  background: #fafaf8;
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-tugu {
  width: 150px;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

p {
  margin-bottom: 20px;
  color: #444;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  font-weight: 600;
  margin-bottom: 5px;
}

.login-form input {
  padding: 12px;
  border: 2px solid #87c7ff;
  border-radius: 8px;
  margin-bottom: 20px;
  outline: none;
}

.btn-login {
  background: #0a84ff;
  color: white;
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}

.btn-login:hover {
  background: #006edc;
}

.error-text {
  color: red;
  margin-bottom: 10px;
}

.register-text {
  margin-top: 10px;
}

.register-text a {
  color: #006edc;
  font-weight: bold;
}

.login-right {
  width: 50%;
  position: relative;
}

.bg-yogya {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
